<div class="flash-news-banner ">
    <div class="container rounded mainContainer">
        <div class="d-lg-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <span class="badge badge-danger mr-3 ">Flash Wetter</span>
            </div>
            <div class="d-flex  py-2">
                <span class="mr-3 date"></span>
                <span id="city"></span>
                <span class="ml-3"><i class="mdi mdi-theme-light-dark" onclick="changeTheme()"></i></span>
            </div>
        </div>
    </div>
</div>